<footer class="container" style="margin-top:100px">
  <p class="text-center">Copyright 2017 superzrr
    <br>
    Design by
    <a href="http://superzrr.logdown.com" target="_blank">superzrr</a>
  </p>
</footer>
